{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link rel="stylesheet" href="{% static 'css/main_register.css' %}">
    <script src="{% static 'js/register_page.js' %}"></script>
</head>
<body>
    <h2 class="text">РЕГИСТРАЦИЯ УЧАСТНИКА</h2>
    <img id='prs1'src="{% static 'img/prs1.jpg' %}">
    <form id="registrationForm">
        <label for="name">Имя:</label><br>
        <input type="text" id="name" name="name"><br>
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email"><br>
        <label for="password">Пароль:</label><br>
        <input type="password" id="password" name="password"><br>
        <label for="role">Роль:</label><br>
        <select id="role" name="role">
            <option value="Линкольн">Линкольн</option>
            <option value="Дуглас">Дуглас</option>
        </select><br><br>
        <input type="button" value="Зарегистрироваться" onclick="registerUser()">
    </form> 
</body>
</html>