body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
body img{
    width:400px;
    height:400px;
    position: absolute;
    margin-left: -20%;
    margin-top: 0%;
}
form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.text{
    text-align: center;
    margin-top:-30%;
    margin-left: 10px;
    color: #333;
}
label {
    font-weight: bold;
    color: #555;
}
input[type="text"],
input[type="email"],
input[type="password"],
select {
    width: 100%;
    padding: 10px;
    margin: 8px 0 16px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: white;
    cursor: pointer;
}
option {
    padding: 10px;
}
input[type="button"] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type="button"]:hover {
    background-color: #45a049;
}